@using Memorial.Models
@model Memorial.Models.UploadStory
@{
    ViewBag.Title = "UploadStory";
}

<h2>UploadStory</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.SubmitterName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SubmitterName)
            @Html.ValidationMessageFor(model => model.SubmitterName)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Picture)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Picture)
            @Html.ValidationMessageFor(model => model.Picture)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Story)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Story)
            @Html.ValidationMessageFor(model => model.Story)
        </div>
        <p>
            <input type="submit" value="Submit" />
        </p>

    </fieldset>
}
<div>
    @Html.ActionLink("Home", "Index")
</div>